<!DOCTYPE html>
<html>
<head>
	<title>Weather Settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />

	<style type="text/css">
	/* Vertically align radio buttons with thumbnails. */
	input[type="radio"][value="current"] {
		height: 150px;
	}
	input[type="radio"][value="three-day"] {
		height: 215px;
	}
	input[type="radio"][value="current-and-three-day"] {
		height: 320px;
	}
	</style>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/bootstrap-form-helper/bootstrap-formhelpers.min.css" />
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/bootstrap-color-picker/bootstrap-colorpicker.min.css" />
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/bootstrap-font-picker/bootstrap-fontpicker.min.css">
	<link rel="stylesheet" href="//s3.amazonaws.com/rise-common/styles/rise/css/rise.min.css">
</head>
<body ng-app="risevision.widget.weather.settings" ng-controller="settingsController">
	<div ng-controller="weatherSettingsController">

	</div>
	<div class="widget-overlay"></div>
	<div class="widget-wrapper container modal-content" scroll-on-alerts>
		<div class="modal-header">
			<h1 data-i18n="[prepend]settings"> {{'settings' | translate }}
				<button id="settings-close" type="button" class="close" aria-hidden="true">
					<img src="//s3.amazonaws.com/rise-common/images/close.png" alt="Close">
				</button>
			</h1>
			<div class="row">
				<div class="col-md-12">
					<div class="checkbox">
						<label for="terms" data-i18n="[append]terms">{{'terms' | translate}}
							<input id="terms" name="terms" type="checkbox" value="terms" />
						</label>
					</div>
				</div>
			</div>
			<div class="sticky-wrapper">
				<div class="btn-toolbar sticky-buttons">
					<button id="save" class="btn btn-primary" type="button">
						<span class="button-spacer" data-i18n="save" ng-click="saveSettings();">{{'save' | translate}}</span>
						<i class="fa fa-check-circle"></i>
					</button>
					<button id="cancel" class="btn btn-primary" type="button">
						<span class="button-spacer" data-i18n="cancel">{{'cancel' | translate}}</span>
						<i class="fa fa-times-circle"></i>
					</button>
					<button id="help" class="btn btn-primary" type="button">
						<span class="button-spacer" data-i18n="help">{{'help' | translate}}</span>
						<i class="fa fa-question-circle"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="settings-alert" class="alert alert-warning" ng-repeat="alert in alerts" ng-show="alerts.length > 0"></div>
		<form role="form">
			<div class="row">
				<div class="col-md-7">
					<div class="form-group">
						<label for="layout" data-i18n="layout.label">{{'layout.label' | translate}}</label>
						<div class="radio">
							<input type="radio" name="layout"
							ng-model="settings.params.up_layout" value="current" data-url="http://s3.amazonaws.com/Widget-Weather/current.html" checked="checked">
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/current-vertical.png" class="img-thumbnail" />
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/current-horizontal.png" class="img-thumbnail" />
						</div>
						<div class="radio">
							<input type="radio" name="layout" ng-model="settings.params.up_layout" value="three-day" data-url="http://s3.amazonaws.com/Widget-Weather/three-day.html">
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/three-day-vertical.png" class="img-thumbnail" />
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/three-day-horizontal.png" class="img-thumbnail" />
						</div>
						<div class="radio">
							<input type="radio" name="layout" ng-model="settings.params.up_layout" value="current-and-three-day" data-url="http://s3.amazonaws.com/Widget-Weather/current-and-three-day.html">
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/current-and-three-day-vertical.png" class="img-thumbnail" />
							<img src="http://s3.amazonaws.com/Widget-Weather/images/thumbs/current-and-three-day-horizontal.png" class="img-thumbnail" />
						</div>
						<div class="radio">
							<input type="radio" name="layout" ng-model="settings.params.up_layout" value="custom" data-url="custom">
							<label for="layout-url" data-i18n="layout-url">{{'layout-url' | translate}}</label>
							<input id="layout-url" name="layout-url" type="text" class="form-control" ng-model="settings.additionalParams['layout-url']"/>
						</div>
					</div>
				</div>
			</div>

			<div>
			<select value="{{additionalParams.country}}"></select>
			</div>

			<date-picker></date-picker>

			<div id="current-temp-font" class="current" ng-show="settings.params.up_layout === 'current'"
      font-picker
      font-picker-i18n-prefix="current-temp-font"
			font-picker-prefix="current-temp"
      font-picker-default-font="Verdana"
      font-picker-default-font-size="60"
      font-picker-default-is-bold="true"
      font-picker-default-is-italic="false">
				<div class="row">
					<div class="col-md-3">
						<div class="font-picker-font form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-size form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-variants form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-color form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="font-picker-custom-font form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="font-picker-text form-group"></div>
					</div>
				</div>
			</div>
			<div id="forecast-temp-font" class="forecast"
			ng-show="settings.params.up_layout === 'three-day'"
      font-picker
      font-picker-default-font="Verdana"
      >
				<div class="row">
					<div class="col-md-3">
						<div class="font-picker-font form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-size form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-variants form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-color form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="font-picker-custom-font form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="font-picker-text form-group"></div>
					</div>
				</div>
			</div>

			<div id="forecast-day-font" class="forecast"
			  ng-show="settings.params.up_layout === 'three-day'"
				font-picker
				font-picker-default-font="Verdana"
				font-picker-default-is-bold="true"
				>
				<div class="row">
					<div class="col-md-3">
						<div class="font-picker-font form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-size form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-variants form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-color form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="font-picker-custom-font form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="font-picker-text form-group"></div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="address" data-i18n="address.label">{{'address.label' | translate}}</label>
						<select id="address" ng-model="address" name="address" class="form-control">
							<option value="geolocation" selected="selected" data-i18n="address.geolocation">{{'address.geolocation' | translate}}</option>
							<option value="display" data-i18n="address.display">{{'address.display' | translate}}</option>
							<option value="custom" data-i18n="address.custom">{{'address.custom' | translate}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="description" data-i18n="description.label">{{'description.label' | translate}}</label>
						<select id="description" ng-model="description" name="description" class="form-control">
							<option value="none" data-i18n="description.none">{{'description.none' | translate}}</option>
							<option value="service" selected="selected" data-i18n="description.service">{{'description.service' | translate}}</option>
							<option value="custom" data-i18n="description.custom">{{'description.custom' | translate}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="custom-address form-group"
					ng-show="address === 'custom'">
						<label for="custom-address" data-i18n="custom-address">{{'custom-address' | translate}}</label>
						<input id="custom-address" name="custom-address" class="text-field form-control" type="text" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="custom-description form-group" ng-show="description === 'custom'">
						<label for="custom-description" data-i18n="custom-description">{{'custom-description' | translate}}</label>
						<input id="custom-description" name="custom-description" class="text-field form-control" type="text" ng-model="settings.additionalParams['custom-description']"/>
					</div>
				</div>
			</div>
			<div id="address-font"
			font-picker
			font-picker-prefix="address"
			font-picker-default-font="Verdana"
			font-picker-default-font-size="24"
			font-picker-default-is-bold="true"
			>
				<div class="row">
					<div class="col-md-3">
						<div class="font-picker-font form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-size form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-variants form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-color form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="font-picker-custom-font form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="font-picker-text form-group"></div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="checkbox">
						<label for="show-humidity" data-i18n="show-humidity">{{'show-humidity' | translate}}</label>
						<input id="show-humidity" ng-model="showHumidity" name="show-humidity" type="checkbox" value="show-humidity" checked="checked" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="other form-group" ng-show="showHumidity">
						<label for="wind-speed" data-i18n="wind-speed.label">{{'wind-speed.label' | translate}}</label>
						<select id="wind-speed" name="wind-speed" class="form-control">
							<option value="kph" selected="selected" data-i18n="wind-speed.kph">{{'wind-speed.kph' | translate}}</option>
							<option value="mph" data-i18n="wind-speed.mph">{{'wind-speed.mph' | translate}}</option>
						</select>
					</div>
				</div>
			</div>
			<div id="humidity-font" class="other"
	  		font-picker
		  	font-picker-i18n-prefix="current-temp-font"
			  font-picker-prefix="humidity"
			  font-picker-default-font="Verdana"
			>
				<div class="row">
					<div class="col-md-3">
						<div class="font-picker-font form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-size form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-variants form-group"></div>
					</div>
					<div class="col-md-3">
						<div class="font-picker-color form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="font-picker-custom-font form-group"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="font-picker-text form-group"></div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="unit" data-i18n="unit.label">{{'unit.label' | translate}}</label>
						<select id="unit" name="unit" class="form-control">
							<option value="celsius" selected="selected" data-i18n="unit.celsius">{{'unit.celsius' | translate}}</option>
							<option value="fahrenheit" data-i18n="unit.fahrenheit">{{'unit.fahrenheit' | translate}}</option>
						</select>
					</div>
				</div>

				<div id="background-color" class="col-md-3"
				font-picker
				font-picker-prefix="background-color"
				font-picker-default-color=""
				font-picker-font-visible="false"
				font-picker-font-size-visible="false"
				font-picker-variants-visible="false"
				font-picker-text-visible="false"
				>
					<div class="font-picker-color form-group"></div>
				</div>
			</div>
		</form>
	</div>
  <script src="js/components/angular/angular.js"></script>
  <script src="js/components/angular-translate/angular-translate.js"></script>
  <script src="js/components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
  <script src="js/components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//datejs.googlecode.com/svn/trunk/build/date.js"></script>
	<script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>

	<script src="//s3.amazonaws.com/rise-common/scripts/bootstrap/bootstrap.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/bootstrap-form-helper/bootstrap-formhelpers.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/bootstrap-color-picker/bootstrap-colorpicker.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/bootstrap-font-picker/bootstrap-fontpicker.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>
	<script src="//s3.amazonaws.com/rise-common/scripts/sticky/jquery.sticky.min.js"></script>
	<script src="//s3.amazonaws.com/Common-Production/Common/RiseVision.Common.min.js"></script>

  <script src="js/settings-app.js"></script>
	<script src="js/components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
	<script src="js/components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
	<script src="js/settings/ctr-weather-settings.js"></script>
	<script src="js/settings/dtv-font-picker.js"></script>
</body>
</html>
